input {
    box-sizing: border-box;
    margin: 8px 0px;
    width: 80%;
    padding: 12px 20px;
    border-image: url("../files/gradient.png") 27 stretch;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: white;
}

input[type="submit"] {
    box-sizing: border-box;
    width: 20%;
    border-image: url("../files/gradient.png") 27 stretch;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: white;
}
