
@font-face {
    font-family: "SF Text Regular";
    font-weight: 400;
    src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf");
}


button {
    box-sizing: border-box;
    margin: 8px 0px;
    padding: 12px 20px;
    font-family: "SF Text Regular"; 
    border-image: url("../files/gradient.png") 27 stretch;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: white;
}

div.g-recaptcha {
    margin: 0 auto;
    width: 304px;
}