@font-face {
    font-family: "SF Text";
    src: url("https://sf.abarba.me/SF-UI-Text-Bold.otf");
}

@font-face {
    font-family: "SF Text Medium";
    font-weight: 400;
    src: url("https://sf.abarba.me/SF-UI-Text-Medium.otf");
}

@font-face {
    font-family: "SF Text Regular";
    font-weight: 400;
    src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf");
}

body,html {
    margin: 0;
    height: 100%;
    width: auto;
    background: rgba(0, 0, 0, .8) url("gradient.png");
background-blend-mode: darken;
}

.center {
    position: absolute; 
    font-family: "SF Text Regular"; 
    text-align:center;  
    color: white; 
    top:50%; 
    left:50%; 
    font-size: 30px;
    transform:translate(-50%,-50%);
    padding-left: inherit;
    padding-right: inherit;
}

#thicc {
    background-size: cover;
    font-size: 100px;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-image: url("gradient.png");
    font-family: "SF Text"; 
}

#learnmore {
    background-size: cover;
    font-size: 35px;
    line-height: 60px;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-image: url("gradient.png");
    font-family: "SF Text"; 
}
